
@{
    ViewData["Title"] = "AllUsers";
}
@model System.Collections.Generic.IEnumerable<Expire.io.DTOs.UserDTO>

<div class="container" style="margin-top: 50px">
    <div class="row" style="margin: 20px">
       <button onclick="location.href = '@Url.Action("CreateUser", "Admin")'">Create User</button>
    </div>
    <ul class="list-group list-group-flush">
        @{
            foreach (Expire.io.DTOs.UserDTO item in @Model)
            {
                <li class="list-group-item  list-group-item-info" id="@item.Id">
                    <div class="bmd-list-group-col" style="display: inline !important">
                        <div style="width: 65%; display: inline-block" >
                            <p class="list-group-item-heading" style="font-size: 20px;font-weight: bold">@item.FirstName - @item.LastName</p>
                            <p class="list-group-item-text">Some text</p>
                        </div>
                        <div style="width: 25%; display: inline-block; vertical-align: top" >
                            <button type="button" onclick="makeAnAdim('@item.UserName.ToString()')" class="btn btn-secondary">Secondary</button>
                            <button type="button" onclick="deleteUser('@item.UserName.ToString()')" class="btn btn-danger">Danger</button>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>

